////////////////////////////////////////////
// LOGO

.logo {
    height: 3.25rem;
    margin-left: 2rem;

    @media only screen and (max-width: $bp-small) {
        height: 2.75rem;
        margin-left: 1.5rem;
    }
 }

////////////////////////////////////////////
// SEARH

.search {
    flex: 0 0 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
        order: 1;
        flex: 1 0 100%;
        background-color: var(--color-grey-light-2);
    }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .3s;
        margin-right: -3rem;

        @media only screen and (max-width: $bp-small) {
            width: 92%;
            margin-right: 0;
            color: black;
        }

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);

            @media only screen and (max-width: $bp-small) {
                color: var(--color-grey-dark-2);
            }
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        transition: all .2s;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);

        @media only screen and (max-width: $bp-small) {
            margin-left: -4rem;
            margin-top: 2px;
        }
    }
}

////////////////////////////////////////////
// USER NAVIGATION

.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center; 

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        transition: all .3s;
        display: flex;
        align-items: center;
        position: relative;

        @media only screen and (max-width: $bp-small) {
            padding: 0 1.5rem;
        }
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);

        @media only screen and (max-width: $bp-small) {
            height: 2rem;
            width: 2rem;  
        }
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: white;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 4rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    // Aumentado
    &__user,
    &__icon-box {
        &:hover .user-nav__menu {
            transform: translateY(13.5rem);
            border: 1px solid var(--color-grey-dark-2);
            height: auto;
            width: 17rem;
        }
    }

    &__user {
        &:hover .user-nav__menu {
            padding: 1.5rem;
        }
    }

    &__menu {
        position: absolute;
        left: -5rem;
        background-color: white;
        height: 0;
        overflow: hidden;
        border-radius: 5px;
        transform: translateY(-8rem);
        transition: transform .1s;

        li {
            list-style: none;

            &:not(:last-child) {
                padding-bottom: 0.7rem;
                border-bottom: 1px solid var(--color-grey-light-4);
            }

            &:not(:first-child) {
                padding-top: 0.7rem;
            }

            &:hover {
                color: var(--color-primary);
            }
        }
    }

    &__menu { 
        text-align: center;
    }
}